
* {
    margin: 0;
    padding: 0;
    user-select: none;
    }
  
  .hide {
    display: none;
  }

  .show {
    display: block;
  }



  .black {
    background-color: #0D061B;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  
  .container {
    background-image: url(../pics/desktop-background.svg);
    box-shadow: inset 0px 0px 75px 50px #0D061B;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .back-to-battlemode {
    -webkit-animation: actionToBattle 0.5s infinite  alternate;
    animation: actionToBattle 0.7s infinite  alternate;
  }

  .back-to-battlemode {
    font-family: Trade Winds;
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    line-height: 54px;
    text-align: center; 
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #482E2E;
    text-shadow: 0px 0px 20px #FFFFFF;
    transform: matrix(1, -0.01, 0.01, 1, 0, 0);
    border: none;
    cursor: pointer;
    margin: 90px 50px 70px 50px;
  }

  .stats {
    text-align: center;
    font-family: Trade Winds;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 93px;
    background: -webkit-linear-gradient(-86deg, #c94d4b 40%, #FEDCA9 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
    text-shadow: 0px 0px 70px #FEDCA9;
    margin-bottom: 40px;
    transform: rotate(-0.57deg);
  }

  
  .all-hamsters-container {
    justify-self: center;
    align-self: center;
  }

  .all-hamsters {
    animation: shimmy 5s infinite;
    animation-direction: alternate;
    transform: scale(1.1);
  }
  
  .all-hamsters-container {
    animation: shimmy 5s infinite;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transform: scale(1.1);
  }
  
  .strongest-container {
    animation: shimmy 7s infinite;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
  
  .weakest-container {
    animation: shimmy 7s infinite;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
  
  .top-ten-strongest {
    animation: shimmy 7s infinite;
    animation-direction: alternate;
  }
  
  .top-ten-weakest {
    animation: shimmy 7s infinite;
    animation-direction: alternate;
  }
  

  
  .all-hamsters-container:hover {
    animation-play-state:paused;
  }
  
  .strongest-container {
    animation-play-state:paused;
  }
  
  .weakest-container:hover {
    animation-play-state:paused;
  }
  
  .percent-weakest {
    padding-left: 10px;
  }
  
  .percent-strongest {
    padding-left: 10px;
  }
  
  @keyframes shimmy {
    0% {
      transform: translate(-2px, -2px);    
    }
    100% {
      transform: translate(2px, 2px);
      transform: scale(.97);
    }
  }
  
  @-webkit-keyframes action {
    0% { transform: translateX(-4px); }
    100% { transform: translateX(4px); }
  }
  @keyframes action {
      0% { transform: translateX(-4px); }
      100% { transform: translateX(4px); }
  }
  
  @-webkit-keyframes actionToBattle {
    0% { transform: translateY(-4px); }
    100% { transform: translateY(4px); }
  }
  @keyframes actionToBattle {
      0% { transform: translateY(-4px); }
      100% { transform: translateY(4px); }
  }