body {
  margin: 0;
  font-family: 'Teko', sans-serif;
  font-family: 'Trade Winds', cursive;
  font-family: 'Padauk', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.red {
  border: 1px solid red;
}

.stats-or-delete {
  color: #61dafb;
  cursor: pointer;
}

.dont-show-component {
  display:none;
}

.show-component {
  border: 1px solid red;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  color: #246f6b;
}
nav a.active {
  background-color: #38b2ac;
  color: white;
  border-radius: 2px;
}

.none {
  display: none;
}